{% extends 'mailing/base.html' %}
{% load my_tags %}

{% block content %}
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="title">
                            Запись {{ object.title }}
                        </h3>
                    </div>
                    <div class="card-body">
                        <p>
                            {{ object.content }}
                        </p>
                    </div>
                    <img class="card-img-top"
                         src="{% mediapath object.image %}"
                         alt="Card image cap">
                    <div class="card-footer">
                        Просмотры: {{ object.views_count }}
                    </div>
                    <div class="card-footer">
                        Дата создания: {{ object.date_published }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}