{% extends 'mailing/base.html' %}

{% block content %}

    <div class="container">
        <div class="row">

            {% for object in object_list %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h5 class="card-title">{{ object.name }}</h5>
                            <p class="card-text">E-mail: {{ object.email }}</p>
                            {% if not object.is_active %}
                                <p>Заблокирован</p>
                            {% else %}
                                <p>Активный</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}